<div class="main" [ngClass]="{'dark-mode':isDark}" id="about-me">
    <div class="skills-main-div">
      <div class="skills-image-div">
        <img alt="Boy working" [src]="skillsImage">
      </div>
      <div class="skills-text-div">
        <h1 class="skills-heading" [ngClass]="{'dark-mode':isDark}">
          {{aboutSection.title}}
        </h1>
        <p class="subTitle skills-text-subtitle" [ngClass]="{'dark-mode':isDark}">
          {{aboutSection.subTitle}}
        </p>
        <div *ngFor="let skill of aboutSection.skills">
          <p class="subTitle skills-text" [ngClass]="{'dark-mode':isDark}">
           {{skill}}
          </p>
        </div>
      </div>
    </div>
  </div>